html {
	overflow: hidden;
}

body {
	background-color: black;
	margin: 0px;
}

li {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	text-shadow: 0 0 10px;
}

li.visible {
	color: #00FE00;
}

li.appear {
	color: white;
}

li.invisible {
	transition: color 3s linear;
	color: black;
}

ul {
	float: left;
	list-style: none;
	padding-left: 0px;
	margin: 2px;
	text-align: center;
}